**/credentials.*
**/target/
/s4hana_pipeline
**/*.log
**/*.trc
**/.settings/
**/.project
**/.classpath
**/.idea
**/*.iml
**/.vscode
**/node_modules
**/.DS_Store
.pipeline/commonPipelineEnvironment

# auto generated wildcard
.env
# auto generated wildcard
ZGL010-API/application/target/.env